header {

list-style: none;
display: flex;
justify-content: center;
background-color:
#ff0101; color: #000000;
padding: 10px 0;

margin: 8px 12px

}

 nav ul{

    list-style: none; 
    display: flex;
    justify-content: center;
}

 nav ul li{
    margin: 0 20x;
    padding: 8px 12px;
}

nav a{
    text-decoration: none;
    color: #ffffff;
}


body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

img {
max-width: 300px;

}

footer {
text-align: center;
padding: 10px;
background-color: #ff0000;
color: #fff;
}
    





